
<mat-card class="example-card">
  <h1>{{title}}</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <mat-form-field class="example-full-width" >
      <input matInput placeholder="姓名" 
      name="name" [ngModel]='item.name' required #first="ngModel">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="班別"
      name="class" [ngModel]='item.class' required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="組別"
      name="group" [ngModel]='item.group' required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="身分證字號" 
      name="user_ID" [ngModel]='item.user_ID' required >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="手機" 
      name="mobile" [ngModel]='item.mobile' required >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="住址" 
      name="address" [ngModel]='item.address' required >
    </mat-form-field>
    <button mat-button>確認</button>
  </form>
</mat-card>
